{# 
/**
 * @file
 * Header 区域的包裹器。
 * 因为我们在 page.html.twig 里用 Twig Tweak 渲染了主要内容，
 * 这个区域的默认包裹我们要尽量保持干净。
 */
#}
{% if content %}
  <div{{ attributes.addClass('region-header') }}>
    {{ content }}
  </div>
{% endif %}
