{#
  region--header.html.twig — Header 区域
  此区域内容由 page.html.twig 的 header 直接渲染
#}
{% if content %}
  <div{{ attributes.addClass('xedc-region', 'xedc-region--header') }}>
    {{ content }}
  </div>
{% endif %}
